{% extends "base.html.twig" %}

{% set body_class = 'signup-page' %}
{% set include_css_components = true %}
{% set include_css_components_admin = false %}
{% set form_id = 'id_form_login' %}
{% set form_class = 'form' %}	

{% set js_components = [
	'navbars/_default'
] %}
{% block body %}
<div class="page-block login-wrap" id="page-block-8w37hxkfjzs">
			<div class="border-holder">
				<div class="block-inner login-binner">
					<div class="login-box">
					<a href="{{ CADENZA_URL }}">
						<div class="landing-brand">
							<img class="landing-logo" src="{{ ASSETS_IMAGES_DIR }}/logo_landing.png" alt="{{ APP_NAME }}"/>
						</div>
					</a>
					<div class="login-form-box">
						{% if errors is defined %} 
							{% for error in errors %}
				       			<div class="alert alert-danger">{{error}}</div>
						    {% endfor %}
						{% endif %} 
						{% include 'pages/user_signup.html.twig' with {'data':data } only %}
					</div>

				</div> 
			</div>
			<div class="footer-forms">
				<div class="container">
					<div class="row">
						<p>Copyright <a href="https://musictoolsuite.ca/" rel="null" type="url" class="url-link">Music Tool Suite</a> ©2018</p>
					</div>
				</div>
			</div>
		</div>
	</div>	 
{% endblock %}