{% extends "teacher.html.twig" %}

{% set js_components = [
	'actionbars/teacher',
	'actionoverflows/actionbar_overflow_teacher',
	'checklists/task_checklist',
	'misc/annotator_annotations',
	'misc/annotator_media_playback',
	'misc/annotator_write_annotation',
	'misc/comments',
	'misc/practicelog',
	'misc/practicelog_indicators',
	'misc/task_moreinfo',
	'modals/add_students',
	'modals/annotator',
	'modals/notes_on_student',
	'modals/report_issue',
	'modals/view_goals',
	'modals/view_reflection',
	'navbars/teacher',
	'ratings/view_lesson_reflection',
	'selectedtask/teacher',
	'tables/list_of_invites',
	'tables/task_selector',
	'uploads/practicelog_student_attachments',
	'uploads_drive/practicelog_student_annotator'
] %}

{% block body %}
	{% include 'components/navbars/teacher.html.twig' with { 'navbar_data':navbar_data } only %}
	{% include 'components/actionbars/teacher.html.twig' with { 'user':user, 'student':student, 'is_link_connected':is_link_connected, 'count_lessons':count_lessons, 'lesson':lesson, 'is_edit_lesson':false } only %}
	<div class="container container-offset-content">
		<div class="row">
			<div class="col-xs-3">
				<div class="view-lesson-grid-left">
					{# Lesson Switcher #}
					{% include 'components/tables/lesson_switcher.html.twig' with { 'user':user, 'linked_user':student, 'is_link_connected':is_link_connected, 'lesson':lesson, 'is_lesson_overview':false, 'is_edit_lesson':false } only %}
					{# Task Selector #}
					{% include 'components/tables/task_selector.html.twig' with { 'user':user, 'user_can_add_tasks':user_can_add_tasks, 'linked_user':student, 'is_link_connected':is_link_connected, 'lesson':lesson, 'task':task, 'is_lesson_overview':false, 'is_edit_lesson':false } only %}
				</div>
			</div>
			<div class="col-xs-9">
				<div class="view-lesson-grid-right">
					{# Selected Task #}
					{% include 'components/selectedtask/teacher.html.twig' with { 'user':user, 'user_can_edit_task':user_can_edit_task, 'linked_user':student, 'is_link_connected':is_link_connected, 'lesson':lesson, 'task':task, 'task_num':task_num, 'task_practices':task_practices, 'checklist_item_rows':checklist_item_rows, 'select_practicelog_practice_id':select_practicelog_practice_id, 'show_annotation_modal':show_annotation_modal } only %}
				</div>
			</div>
		</div>
	</div>
	{% include 'components/modals/annotator.html.twig' with { } only %}
{% endblock %}