{% extends "admin.html.twig" %}

{% set js_admin_components = [
	'navbars/admin'
] %}

{% block body %}
	{% include 'admin_components/navbars/admin.html.twig' with { 'navbar_data':navbar_data } only %}
	<div class="container container-offset-content">
	</div>
{% endblock %}
