{% extends "student.html.twig" %}

{% set js_components = [
	'misc/welcome_student',
	'navbars/student'
] %}

{% block body %}
	{% include 'components/navbars/student.html.twig' with { 'navbar_data':navbar_data } only %}
	<div class="container container-offset-content">
		{% include 'components/misc/welcome_student.html.twig' with { 'user':user } only %}
	</div>
{% endblock %}
